<p id="notice"><%= notice %></p>

<p>
  <strong>Page title:</strong>
  <%= @store_tree.page_title %>
</p>

<%= link_to 'Edit', edit_store_tree_path(@store_tree) %> |
<%= link_to 'Back', store_trees_path %>
